<%- include('../partials/html-head') %>

<%- include('../partials/nav') %>
<main>
    <h1><%= title %></h1>
    <form id="new-form" action="/flights/<%= flight._id %>?_method=PUT" method="POST">
        <label for="airline-input">Airline</label>
        <select type="text" name="airline" value="<%= flight.airline %>" id="airline-input">
            <option value="<%= flight.airline %>"><%= flight.airline %></option>
            <option value="American">American</option>
            <option value="Southwest">Southwest</option>
            <option value="United">United</option>
        </select>
        <label for="airport-imput">Airport</label>
        <select type="text" name="airport" id="airport-input">
            <option value="<%= flight.airport %>"><%= flight.airport %></option>
            <option value="DEN">DEN</option>
            <option value="AUS">AUS</option>
            <option value="DFW">DFW</option>
            <option value="LAX">LAX</option>
            <option value="SAN">SAN</option>
        </select>
        <label for="flightNo">Flight Number</label>
        <input type="text" name="flightNo" value="<%= flight.flightNo %>" id="flightNo-input">
        <label for="date">Departs</label>
        <input type="date" name="departs" id="departs" value="<%= flight.departs %>">
        <button type="submit">Edit the Flight</button>
    </form>
</main>


<%- include('../partials/footer') %>